@model AdminX.ViewModels.EDMSVM
@{
    ViewData["Title"] = "Admin-X - Relative Diary";
    ViewData["Page"] = "/ Relative / Diary";
    ViewData["HomeBtn"] = Html.ActionLink("Back to Home Page", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {        
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1" })
    };
}

@if (Model.Message != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model.isSuccess)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <h3>@Model.Message</h3>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <h3>@Model.Message</h3>
                    </div>
                </div>
            }
        </div>
    </div>
}



<div class="text-center">
    <h1></h1>
</div>

<div class="card">
    <div class="card-header">

        <h2 class="card-title mb-0 text-dark">Upload File</h2>
        <p>Note: please upload PDFs files if you can, anything else might not be processed correctly.</p>

    </div>
    <div class="card-body">

        @if (Model.patient.DCTM_Folder_ID == null || Model.patient.DCTM_Folder_ID == "")
        {
            <h2>No EDMS file available, please make patient electronic first</h2>
        }
        else
        {

           <div class="row">
                <div class="col-md-4">
                    <form asp-action="Upload" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input asp-for=@Model.patient.MPI name="mpi" hidden />
                            <input type="file" id="wtf" asp-for="UploadedFile" class="form-control" name="fileToUpload" required/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Document Type</label>
                            <select class="form-select js-choice" name="docType" required>
                                <option value="">Select</option>
                                @foreach (var item in Model.docKinds)
                                {
                                    <option value=@item.DocumentKind>@item.DocumentKind - @item.DocumentKindDescription</option>
                                }
                            </select>
                        </div>

                        <div class="mb-3 ">
                            <label class="form-label">Document Type</label>

                            <select name="taskRouting" class="form-select" required>
                                <option value="0">No task</option>
                                <option value="1">Task for Consultant</option>
                                <option value="2">Task for GC</option>
                                <option value="3">Task for Admin</option>
                            </select>
                        </div>

                        <input class="btn btn-outline-primary" type="submit" />
                    </form>
                </div>
           </div>

        }
    </div>
</div>




