@model AdminX.ViewModels.SysAdminVM
@{
    ViewData["Title"] = "Admin-X - System Administration - Staff Member Details";
}


<div class="card">
    <div class="card-header">
        <h5 class="card-title text-dark">New Staff Member</h5>
    </div>
    <div class="card-body">
        <form asp-action="AddNewStaffMember" id="frmSubmit">
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label class="form-label">Title</label>
                    <select name="title" class="form-select" asp-for=@Model.staffMember.StaffTitle>
                        @foreach (var item in Model.titles)
                        {
                            <option value=@item.Title>@item.Title</option>
                        }
                    </select>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Firstname</label>
                    <input type="text" name="firstname" class="form-control" />
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Lastname</label>
                    <input type="text" name="lastname" class="form-control" />
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Windows Login</label>
                    <input type="text" name="loginName" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label class="form-label">Email Address</label>
                    <input type="email" id="pw" name="email" class="form-control" />
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Role</label>
                    <input type="text" name="role" class="form-control" />
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Type</label>
                    <select name="type" class="form-select" id="ddlStaffTypes">
                        @foreach (var item in Model.types)
                        {
                            <option value=@item>@item</option>
                        }
                    </select>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="form-label">Team</label>
                    <select name="team" class="form-select" >
                        @foreach (var item in Model.teams)
                        {
                            <option value=@item>@item</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label class="form-label">Start Date</label>
                    <input type="date" name="startDate" class="form-control" />
                </div>
                <div class="mt-5 col-md-3">
                    <label class="form-label">
                        <input type="checkbox" class="form-check-input" id="chkSupervisor" />
                        <input name="isSupervisor" id="txtSupervisor" hidden />
                        <span class="form-check-label">Manager/supervisor</span>
                    </label>
                </div>
                <div class="mt-5 col-md-3">
                    <label class="form-label">
                        <span class="form-check-label">System Administrator</span>
                        <input type="checkbox" class="form-check-input" id="chkSystemAdministrator" />
                        <input name="isSystemAdministrator" id="txtSystemAdministrator" hidden />
                       
                    </label>
                </div>
                <div class="mb-3 col-md-3" id="gmcNumberFields" hidden>
                    <label class="form-label">GMC Number</label>
                    <input type="date" name="gmcNumber" class="form-control" />
                </div>
            </div>
            <button type="submit" id="btnSubmit" class="btn btn-outline-primary">Save Record</button>

        </form>
    </div>
</div>

<div class="container">
   

    <form  id="frmSubmit">

        

        <div class="row mb-5 g-5">
            <div class="col-md-2">
            </div>
        </div>

    </form>

</div>

<script>

    document.getElementById("chkSupervisor").addEventListener("change", SetCheckBoxValues);
    document.getElementById("chkSystemAdministrator").addEventListener("change", SetCheckBoxValues);
    document.getElementById("ddlStaffTypes").addEventListener("change", ShowGMCFields);
    //document.getElementById("btnSubmit").addEventListener("click", DoSubmit);
    
    /*
    function SetLeaver()
    {
        if(!document.getElementById("chkSupervisor").checked)
        {
            if(document.getElementById("txtEndDate").value == "")
            {
                var date = new Date;

                document.getElementById("txtEndDate").value = date.toISOString().split('T')[0];
            }
        }
        else
        {
            document.getElementById("txtEndDate").value = "";
        }

        SetCheckBoxValues();
    }
    */

    function SetCheckBoxValues()
    {
        document.getElementById("txtSupervisor").value = document.getElementById("chkSupervisor").checked;
        document.getElementById("txtSystemAdministrator").value = document.getElementById("chkSystemAdministrator").checked;        
    }

    function ShowGMCFields()
    {
        var type = document.getElementById("ddlStaffTypes");

        if(type.value != "Admin")
        {
            document.getElementById("gmcNumberFields").hidden = false;
        }
        else
        {
            document.getElementById("gmcNumberFields").hidden = true;
        }
    }

    function DoSubmit()
    {        
        //var pw1 = document.getElementById("pw");
        //var pw2 = document.getElementById("pwConfirm");
        
        //if(pw1.value != "" && pw1.value == pw2.value)
        //{            
            document.getElementById("frmSubmit").Submit();
        //}
        //else
       // {
        //    window.alert("Passwords don't match.");
        //}
    }

</script>