@model AdminX.ViewModels.SysAdminVM
@{
    ViewData["Title"] = "Admin-X - System Administration - New Clinic Venue";
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("System Administration Home", "", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnSysAdmin" }),
        Html.ActionLink("Staff Members", "StaffMembers", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnStaffMembers" }),
        Html.ActionLink("External Clinicians", "Clinicians", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicians" }),
        Html.ActionLink("External Facilities", "Facilities", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnFacilities" }),
        Html.ActionLink("Clinic Venues", "ClinicVenues", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicVenues" }),

    };
}

<div class="container">
    <div class="row mb-5 g-5">
        <h5>New Clinic Venue</h5>
    </div>

    <form asp-action="VenueDetails">

        <div class="flex-grow-1 ms-3">
            <div class="col-md-2">
                <label>Code:</label>
            </div>
            <div class="col-md-2">
                <input name="clinCode"  />
            </div>
            <div class="col-md-2">
                <label>Name:</label>
            </div>
            <div class="col-md-2">
                <input name="name"  />
            </div>
        </div>
        <div class="flex-grow-1 ms-3">
            <div class="col-md-2">
                <label>Location</label>
            </div>
            <div class="col-md-2">
                <textarea cols="50" rows="10" name="location" ></textarea>
            </div>
        </div>

        <div class="flex-grow-1 ms-3">
            <div class="col-md-2">
                <label>Special Instructions</label>
            </div>
            <div class="col-md-2">
                <textarea cols="50" rows="10" name="notes" ></textarea>
            </div>
        </div>

        @*location code*@

        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <strong>Active</strong>
                <div class="text-muted">
                    <select name="isNonActive" >
                        <option value=0>Yes</option>
                        <option value=-1>No</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <button type="submit" class="btn btn-outline-primary">Save Record</button>
            </div>
        </div>



    </form>

</div>
