@model AdminX.ViewModels.SysAdminVM
@{
    ViewData["Title"] = "Admin-X - System Administration - New Clinic Venue";
}

<partial name="_SysAdminNav" />

<div class="card">
    <div class="card-header">
        <h5 class="card-title text-dark">New Clinic Venue</h5>
    </div>
    <div class="card-body">
        <form asp-action="AddNewVenue">
            <div class="mb-3 row">
                <div class="col-md-1">
                    <label class="form-label">Code</label>
                </div>
                <div class="col-md-11">
                    <input class="form-control" name="clinCode"  />
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-1">
                    <label class="form-label">Name</label>
                </div>
                <div class="col-md-11">
                    <input type="text" name="name" class="form-control" />
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-1">
                    <label class="form-label">Location</label>
                </div>
                <div class="col-md-11">
                    <textarea name="location" cols="50" rows="10" class="form-control"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-1">
                    <label class="form-label">Special Instructions</label>
                </div>
                <div class="col-md-11">
                    <textarea name="notes" class="form-control" cols="50" rows="10"></textarea>
                    <button type="submit" class="btn btn-outline-primary mt-3">Save Record</button>
                </div>
            </div>
        </form>
    </div>
</div>

