@model AdminX.ViewModels.SysAdminVM
@{
    ViewData["Title"] = "Admin-X - System Administration - New Facility";
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("System Administration Home", "", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnSysAdmin" }),
        Html.ActionLink("Staff Members", "StaffMembers", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnStaffMembers" }),
        Html.ActionLink("External Clinicians", "Clinicians", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicians" }),
        Html.ActionLink("External Facilities", "Facilities", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnFacilities" }),
        Html.ActionLink("Clinic Venues", "ClinicVenues", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicVenues" }),

    };
}

<div class="card flex-fill">
    <div class="card flex-fill">
        <h5>New Clinical Facility</h5>
    </div>

    <form asp-action="AddNewFacility">
        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <strong>Facility Code</strong>
                <div class="text-muted">
                    <input name="facCode" />
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <strong>Name</strong>
                <div class="text-muted">
                    <input name="name" />
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <strong>Address</strong>
                <div class="text-muted">
                    <input name="address" />
                </div>
                <div class="text-muted">
                    <input name="district" />
                </div>
                <div class="text-muted">
                    <input name="city" />
                </div>
                <div class="text-muted">
                    <input name="state" />
                </div>
                <strong>Postcode</strong>
                <div class="text-muted">
                    <input name="postCode" />
                </div>
            </div>
        </div>


        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <strong>Active</strong>
                <div class="text-muted">
                    <select name="isActive">
                        <option value=0>Yes</option>
                        <option value=-1>No</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <strong>Is GP</strong>
                <div class="text-muted">
                    <div class="text-muted">
                        <select name="isGP">
                            <option value=0>No</option>
                            <option value=-1>Yes</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Save</button>

    </form>



</div>