<div class="text-end mb-3">
    <a asp-controller="SysAdmin" asp-action="" class="btn btn-light bg-white me-2 m-1" id="btnSysAdmin">System Administration Home</a>
    <a asp-controller="SysAdmin" asp-action="StaffMembers" class="btn btn-light bg-white me-2 m-1" id="btnStaffMembers">Staff Members</a>
    <a asp-controller="SysAdmin" asp-action="Clinicians" class="btn btn-light bg-white me-2 m-1" id="btnClinicians">External Clinicians</a>
    <a asp-controller="SysAdmin" asp-action="Facilities" class="btn btn-light bg-white me-2 m-1" id="btnFacilities">External Facilities</a>
    <a asp-controller="SysAdmin" asp-action="ClinicVenues" class="btn btn-light bg-white me-2 m-1" id="btnClinicVenues">Clinic Venues</a>
    <a asp-controller="SysAdmin" asp-action="CliniciansClinics" class="btn btn-light bg-white me-2 m-1" id="btnClinicDetails">Clinic Details</a>
    <a asp-controller="SysAdmin" asp-action="EpicClinicCodes" class="btn btn-light bg-white me-2 m-1" id="btnEpicClinicCodes">Epic Clinic Codes</a>
</div>

 