@model string
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1>There was an error! :(</h1>
    <br /><br />
    <h3>@Model</h3>
    <br /><br />
    <h5>Please report this error to the IT team.</h5>
</div>