@model AdminX.ViewModels.RelativeVM
@{
    ViewData["Title"] = "Clinic-X - Relative Details";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title text-dark">New Relative Details</h5>            
        <a type="button" class="btn btn-outline-primary float-end" asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.MPI>Back to patient</a>

    </div>
    <div class="card-body">
        <form id="frmAddNew" asp-action="AddNew">
            <div class="row" id="Metadata">
                <input asp-for=@Model.WMFACSID name="wmfacsid" hidden />
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="form-label"> Title </label>
                    <select class="form-select" name="title">
                        <option ></option>
                        @foreach (var r in Model.titleList)
                        {
                            <option value=@r.Title>@r.Title</option>
                        }
                    </select>
                </div>
                
                <div class="col-md-3 mb-3">
                    <label class="form-label">Firstname</label>
                    <input class="form-control" asp-for=@Model.relativeDetails.RelForename1 name="forename1" />
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Middlename</label>
                    <input class="form-control" asp-for=@Model.relativeDetails.RelForename2 name="forename2" />
                </div>
             
                <div class="col-md-3 mb-3">
                    <label class="form-label">Surname:</label>
                    <input class="form-control" asp-for=@Model.relativeDetails.RelSurname name="surname" />
                </div>

            </div>

           <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">DOB</label>
                    <input type="date" class="form-control" asp-for=@Model.relativeDetails.DOB name="sDOB">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">DOD (if deceased)</label>
                    <input type="date" class="form-control" asp-for=@Model.relativeDetails.DOD name="sDOD">
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 mb-3">
                    <label class="form-label">Gender</label>
                    <select class="form-control" asp-for=@Model.relativeDetails.Sex name="sex">
                        <option value="">Select...</option>
                        @foreach (var r in Model.genderList)
                        {
                            <option value=@r.SexCode>@r.Sex</option>
                        }
                    </select>
         
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Relation to Proband</label>

                    <select class="form-select" asp-for=@Model.relativeDetails.RelCode name="relation">
                        <option value="">Select...</option>
                        @foreach (var r in Model.relationList)
                        {
                            <option value=@r.RelCode>@r.relation</option>
                        }
                    </select>
                </div>
     
                <div class="col-md-4">
                    <label class="form-label">Affected</label>
                    <select class="form-select" asp-for=@Model.relativeDetails.RelAffected name="isAffected">
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                        <option value=2 selected>Don't know</option>
                    </select>
                    
                </div>
                <div class="col-md-6">
                    <input type="button" class="btn btn-default btn-primary" value="Save" id="btnSave" />
                </div>
                
            </div>
        </form>

    </div>
</div> 

<div class="">
    
    <div class="row mb-5 g-5">
    </div>

    <div class="row g-5 mb-5">
        <div class="col-md-2">
            
        </div>
    </div>
</div>


<script type="text/javascript">

    document.getElementById("btnSave").addEventListener("click", AddRelative);
        

    function AddRelative() 
    {

        if (CheckFormValid() == 1) 
        {
            document.getElementById("frmAddNew").submit();
        }
    }

    function CheckFormValid() 
    { //validation to ensure all required data is entered

        
        //if (document.getElementById("txtComments").value.match(/};.*/)) {
        //    window.alert("Oi! Stop trying to inject SQL code into my form!");
        //    return 0;
        //}
        return 1;
    }

</script>